@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  @font-face {
    font-family: "QuicksandLight";
    src: url("/fonts/Quicksand-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "QuicksandRegular";
    src: url("/fonts/Quicksand-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "QuicksandMedium";
    src: url("/fonts/Quicksand-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "QuicksandSemibold";
    src: url("/fonts/Quicksand-SemiBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "QuicksandBold";
    src: url("/fonts/Quicksand-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "RobotoLight";
    src: url("/fonts/Roboto-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "RobotoRegular";
    src: url("/fonts/Roboto-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "RobotoMedium";
    src: url("/fonts/Roboto-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "RobotoSemibold";
    src: url("/fonts/Roboto-SemiBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "RobotoBold";
    src: url("/fonts/Roboto-Bold.ttf") format("truetype");
  }
}
